{% extends "base.html" %} {% block title %}Specific Beach information{% endblock %} {% block content
%}
<html>
<style>
    .Beach1x {
      position: relative;
      top: 10px;
      left: 0px;
      background-color: White;
      width: 300px;
      padding: 3px;
      border: 2px solid black;
      text-align: center;

    }
    .Image {
      position: relative;
      top: 0px;
      left: 0px;
    }
    .Beach1 {
      position: fixed;
      float:left;
      width: 0%;
    }

</style>
<body>

<div class="Beach1">
    <b><u>West Brighton Beach</u></b>
    <div class="Image">
        <img src={{url_for('static', filename='Beach1.jpg')}} height="100" width="130">
    </div>
</div>

</body>
</html>
{% endblock %}